<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.quyunshuo.main">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="debug.MainApplication"
        android:allowBackup="true"
        android:label="@string/main_app_name"
        android:networkSecurityConfig="@xml/base_network_security_config"
        android:theme="@style/base_AppTheme"
        tools:ignore="UnusedAttribute">
        <activity
            android:name=".ui.splash.SplashActivity"
            android:theme="@style/main_AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.main.MainActivity" />
    </application>

</manifest>